<div>
    <div layout="row">
        <md-input-container flex="20">
            <label>Nombre de Proyecto</label>
            <input required="" name="projectName" ng-disabled="readOnlyMode" ng-model="projectEditing.projectName">
            <div ng-messages="researcherForm.projectName.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Campo de Aplicación</label>
            <md-select ng-model="projectEditing.fieldOfApplication" placeholder="Campo de Aplicación">
                <md-option value="{{fieldOfApplication}}" ng-repeat="fieldOfApplication in  fieldOfApplications">
                    {{  fieldOfApplication }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container>
            <label>Objetivo Socio-Económico</label>
            <md-select ng-model="projectEditing.socioEconomicObjective" placeholder="Objetivo Socio-Económico">
                <md-option value="{{socioEconomicObjective}}" ng-repeat="socioEconomicObjective in  socioEconomicObjectives">
                    {{  socioEconomicObjective }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Disciplina de Aplicación</label>
            <md-select ng-model="projectEditing.applicationDiscipline" placeholder="Disciplina de Aplicación">
                <md-option value="{{applicationDiscipline.id}}" ng-repeat="applicationDiscipline in  parametrics['degreeArea']">
                    {{  applicationDiscipline.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Tipo de Investigación</label>
            <md-select ng-model="projectEditing.investigactionType" placeholder="Tipo de Investigación">
                <md-option value="{{investigactionType}}" ng-repeat="investigactionType in  investigactionTypes">
                    {{  investigactionType }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex="15">
            <label>Depositos en el Repositorio</label>
            <md-select ng-model="projectEditing.depositsInTheRepository" placeholder="Depositos en el Repositorio">
                <md-option value="{{depositsInTheRepository.value}}" ng-repeat="depositsInTheRepository in  binarySeletions">
                    {{  depositsInTheRepository.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="15">
            <label>Elaboración PGD</label>
            <md-select ng-model="projectEditing.pgdElaboration" placeholder="Elaboración PGD">
                <md-option value="{{pgdElaboration.value}}" ng-repeat="pgdElaboration in  binarySeletions">
                    {{  pgdElaboration.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="15">
            <label>Informe Académico</label>
            <md-select ng-model="projectEditing.academicReport" placeholder="Informe Académico">
                <md-option value="{{academicReport}}" ng-repeat="academicReport in  reports">
                    {{  academicReport }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="15">
            <label>Informe Contable</label>
            <md-select ng-model="projectEditing.accountingReport" placeholder="Informe Contable">
                <md-option value="{{accountingReport}}" ng-repeat="accountingReport in  reports">
                    {{  accountingReport }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>

