<div>
    <div layout="row">
        <md-button class="md-raised md-primary" ui-sref="projects.new({idConvocatory:convocatorySelected})">Agregar nuevo</md-button>
    </div>
    <div layout="row" ng-show="projects === undefined" layout-sm="column" layout-align="left">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div>
        <md-divider ng-if="convocatorySelected"></md-divider>
        <div ng-show="convocatorySelected != null">
            <h4>Proyectos disponibles</h4>
        </div>
        <label ng-show="(projects | toArray).length == 0">No hay Proyectos.</label>

        <div class="scrollable">
            <table ng-show="convocatories!=null">
                <tr>
                    <th>Nombre de Proyecto</th>
                    <th>Secretaria/Departamento</th>
                    <th></th>
                </tr>
                <tr ng-repeat="project in convocatories[convocatorySelected].projects">
                    <td>
                        {{project.projectName}}
                    </td>
                    <td>{{parametrics['secretaryshipDepartment'][project.firstSecretaryshipDepartment].name}} <div ng-if="project.secondSecretaryshipDepartment">{{" / "+parametrics['secretaryshipDepartment'][project.secondSecretaryshipDepartment].name}}</div></td>
                    <td ng-if="!convocatory.endDate"></td>
                    <td>
                        <md-button class="md-raised md-primary" ui-sref="projects.edit({idConvocatory:convocatorySelected, idProject:project.id})">Editar</md-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>