<div ng-controller="projects.projectDepartment">
    <div layout="row">
        <md-input-container>
            <label>Secretaria/Departamento</label>
            <md-select ng-model="secretaryshipDepartment" placeholder="Secretaría/Departamento">
                <md-option value="{{secretaryshipDepartment.id}}" ng-repeat="secretaryshipDepartment in  parametrics['secretaryshipDepartment']">
                    {{  secretaryshipDepartment.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-show=" !readOnlyMode" ng-disabled="secretaryshipDepartment==null" ng-click="addNewDepartment()">
        {{'Agregar Nuevo Departamento'}}
    </md-button>
    <label ng-show="departmentSaved">Guardado!</label>
    <md-divider ng-show="projectEditing.departments!=null && !readOnlyMode"></md-divider>
    <div ng-show="readOnlyMode">
        <label ng-show="(projectEditing.departments|toArray).length == 0 ">No hay Departamentos cargados</label>
    </div>
    <div ng-show="projectEditing.departments!=null">
        <div>
            <table>
                <tr>
                    <th>Departamentos</th>
                    <th></th>
                </tr>
                <tr ng-repeat="department in projectEditing.departments">
                    <td>{{department.name}}</td>
                    <td  ng-show=" !readOnlyMode">
                        <md-button class="md-raised md-primary" ng-click=" deleteDepartment(department)">Eliminar</md-button>
                    </td>
            </table>
        </div>
    </div>
</div>