<div ng-controller="projects.projectFoudingSource" ng-init="setup()">
    <div layout="row">
        <md-input-container>
            <label>Fuente de Financiamiento</label>
            <md-select ng-model="fundingSourceEditing.totalAmountOfSubsidy" placeholder="Fuente de Financiamiento">
                <md-option value="{{totalAmountOfSubsidy}}" ng-repeat="totalAmountOfSubsidy in  totalAmountOfSubsidies">
                    {{  totalAmountOfSubsidy }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="20">
            <label>Monto</label>
            <input required="" type="number" name="amount" ng-disabled="readOnlyMode" ng-model="fundingSourceEditing.amount">
            <div ng-messages="researcherForm.amount.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-show=" !readOnlyMode" ng-disabled="fundingSourceEditing.totalAmountOfSubsidy==null || fundingSourceEditing.amount==null" ng-click="addNewFundingSource()">
        {{'Agregar Nueva Fuente de Financiación'}}
    </md-button>
    <label ng-show="fudingSourceSaved">Guardado!</label>
    <md-divider ng-show="projectEditing.fundingSources!=null && !readOnlyMode"></md-divider>
    <div ng-show="readOnlyMode">
        <label ng-show="(projectEditing.fundingSources|toArray).length == 0 ">No hay Fuentes de Financiación cargadas</label>
    </div>
    <div ng-show="projectEditing.fundingSources!=null">
        <div>
            <table>
                <tr>
                    <th>Fuente de Financiamiento</th>
                    <th>Monto</th>
                    <th></th>
                </tr>
                <tr ng-repeat="fundingSource in projectEditing.fundingSources">
                    <td>{{fundingSource.totalAmountOfSubsidy}}</td>
                    <td>{{fundingSource.amount}}</td>
                    <td  ng-show=" !readOnlyMode">
                        <md-button class="md-raised md-primary" ng-click=" deleteFundingSource(fundingSource)">Eliminar</md-button>
                    </td>
            </table>
        </div>
    </div>
</div>