<div>
    <div layout="row">
        <md-input-container flex="20">
            <label>Patentes Solicitadas en la Argentina</label>
            <input required="" type="number" name="patentsAppliedForInArgentina" ng-disabled="readOnlyMode" ng-model="projectEditing.patentsAppliedForInArgentina">
            <div ng-messages="researcherForm.patentsAppliedForInArgentina.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
        <md-input-container flex="20">
            <label>Patentes Solicitadas en En el Exterior</label>
            <input required="" type="number" name="patentsRequestedAbroad" ng-disabled="readOnlyMode" ng-model="projectEditing.patentsRequestedAbroad">
            <div ng-messages="researcherForm.patentsRequestedAbroad.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex="20">
            <label>Prototipos</label>
            <input required="" type="number" name="prototypes" ng-disabled="readOnlyMode" ng-model="projectEditing.prototypes">
            <div ng-messages="researcherForm.prototypes.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
        <md-input-container flex="20">
            <label>Informes o Documentos tecnicos</label>
            <input required="" type="number" name="patentsRequestedAbroad" ng-disabled="readOnlyMode" ng-model="projectEditing.patentsRequestedAbroad">
            <div ng-messages="researcherForm.patentsRequestedAbroad.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex="20">
            <label>Patentes Solicitadas en la Argentina</label>
            <input required="" type="number" name="patentsAppliedForInArgentina" ng-disabled="readOnlyMode" ng-model="projectEditing.patentsAppliedForInArgentina">
            <div ng-messages="researcherForm.patentsAppliedForInArgentina.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
        <md-input-container flex="20">
            <label>Patentes Solicitadas en En el Exterior</label>
            <input required="" type="number" name="patentsRequestedAbroad" ng-disabled="readOnlyMode" ng-model="projectEditing.patentsRequestedAbroad">
            <div ng-messages="researcherForm.patentsRequestedAbroad.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
    </div>
</div>





