<div ng-init="setup()">
    <div layout="row">
        <md-input-container>
            <label>Tipo de Formación</label>
            <md-select ng-model="formationEditing.educationType" placeholder="Tipo de Formación">
                <md-option  value="{{educationType}}" ng-repeat="educationType in educationTypes" >
                    {{ educationType}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Grado de Titulación</label>
            <md-select ng-model="formationEditing.academicDegree" placeholder="Grado de Titulación">
                <md-option value="{{academicDegree.id}}" ng-repeat="academicDegree in parametrics['academicDegree']">
                    {{ academicDegree.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container>
            <label>Gran Area de Conocimiento</label>
            <md-select ng-model="formationEditing.degreeArea"  ng-change="degreeAreaChanged()" placeholder="Gran Area de Conocimiento">
                <md-option value="{{degreeArea.id}}" ng-repeat="degreeArea in parametrics['degreeArea']">
                    {{ degreeArea.name }}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Carrera</label>
            <md-select ng-model="formationEditing.career" placeholder="Carrera">
                <md-option value="{{career.id}}" ng-repeat="career in parametrics['degreeArea'][formationEditing.degreeArea].careers">
                    {{ career.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex="12">
                        <md-select ng-model="formationEditing.studiesState" placeholder="Estado">
                            <md-option ng-repeat="studiesState in studiesStates"  value="{{studiesState.name}}">
                                {{ studiesState.type }}
                            </md-option>
                        </md-select>
        </md-input-container>
    </div>
    <div layout="row">
                    <md-input-container ng-show="formationEditing.studiesState=='false'">
                        <md-select  ng-model="formationEditing.scolarshipType" placeholder="Tipo de Beca">
                            <md-option ng-repeat="scolarshipType in parametrics['scolarshipType']" value="{{ scolarshipType.id }}">
                                {{ scolarshipType.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-show="formationEditing.studiesState=='false'">
                        <md-select  ng-model="formationEditing.scolarshipName" placeholder="Nombre de Beca">
                            <md-option value="{{scolarshipName.id}}" ng-repeat="scolarshipName in parametrics['scolarshipName']">
                                {{ scolarshipName.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-show="parametrics['scolarshipName'][formationEditing.scolarshipName].name=='Otro'">
                        <label>Especificar Otro</label>
                        <input name="otro" ng-model="formationEditing.otherScolarhip">
                    </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-disabled="formationEditing.educationType==null || formationEditing.degreeArea==null || formationEditing.academicDegree==null ||  formationEditing.studiesState==null" ng-click="addNewFormation()">
        {{formationEditingExisting ? 'Actualizar Formación' : 'Agregar Nueva Formación'}}
    </md-button>
    <md-button ng-show="formationEditingExisting" class="md-raised md-primary" ng-click="cancelEdition()">Cancelar</md-button>
    <label ng-show="formationSaved">Guardado!</label>

    <div ng-show="researcherEditing.formations!=null">
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span class="titles">Formación de {{researcherEditing.name + " " + researcherEditing.surname}}</span>
            </h2>
        </md-toolbar>
        <div>
            <table>
                <tr>
                    <th>Tipo de Formación</th>
                    <th>Grado de Titulación</th>
                    <th>Gran Area de Conocimiento</th>
                    <th>Carrera</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
                <tr ng-repeat="formation in researcherEditing.formations">
                    <td>{{formation.educationType}}</td>
                    <td>{{parametrics['academicDegree'][formation.academicDegree].name}}</td>
                    <td>{{parametrics['degreeArea'][formation.degreeArea].name}}</td>
                    <td>{{parametrics['degreeArea'][formation.degreeArea].careers[formation.career].name}}</td>
                    <td>{{formation.studiesState == 'true' ? 'Terminado' : 'En curso'}} <div ng-show="formation.studiesState == 'false'">{{formation.scolarshipType}} {{formation.scolarshipName}} </div></td>
                    <td></td>
                    <td><md-button  class="md-raised md-primary" ng-click="edit(formation)"">Editar</md-button>
                        <md-button class="md-raised md-primary" ng-click=" deleteFormation(formation)">Eliminar</md-button></td>
            </table>
        </div>
    </div>
</div>