<div ng-init="setup()">
  <h3>Formacion</h3>
    <div layout="row"  ng-show=" !readOnlyMode">
      <md-input-container flex="16">
        <label>Titulo</label>
        <input required="" titulo="titulo" ng-disabled="readOnlyMode" ng-model="researcherEditing.titulo">
          <div ng-messages="researcherForm.titulo.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
      <md-input-container flex="16">
        <label>Area de Formación</label>
        <input required="" areaDeFormacion="areaDeFormacion" ng-disabled="readOnlyMode" ng-model="researcherEditing.areaDeFormacion">
          <div ng-messages="researcherForm.areaDeFormacion.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
      </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
        <md-input-container flex="12">
            <label>Nivel</label>
            <md-select ng-model="researcherEditing.nivel">
                <md-option ng-repeat="nivel in parametrics['nivel']"  value="{{nivel.id}}">
                    {{ nivel.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <h3>Investigacion y Docencia</h3>
    <div layout="row"  ng-show=" !readOnlyMode">
        <md-input-container flex="16">
            <md-select ng-model="researcherEditing.tipoDeContratacion" placeholder="Tipo de Contratación">
                <md-option ng-repeat="tipoDeContratacion in parametrics['tipoDeContratacion']"  value="{{tipoDeContratacion.id}}">
                    {{ tipoDeContratacion.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="16">
            <md-select ng-model="researcherEditing.cargo" placeholder="Cargo">
                <md-option ng-repeat="cargo in parametrics['cargo']"  value="{{cargo.id}}">
                    {{ cargo.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="6">
          <label>Cantidad</label>
          <input required="" cantidad="cantidad" ng-disabled="readOnlyMode" ng-model="researcherEditing.cantidad">
            <div ng-messages="researcherForm.cantidad.$error">
              <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
      <md-input-container flex="6">
        <label>Actividad Docente</label>
        <input required="" actDocente="actDocente" ng-disabled="readOnlyMode" ng-model="researcherEditing.actDocente">
          <div ng-messages="researcherForm.actDocente.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
      </md-input-container>
      <md-input-container flex="6">
        <label>Cantidad</label>
        <input required="" cantidadActDoc="cantidadActDoc" ng-disabled="readOnlyMode" ng-model="researcherEditing.cantidadActDoc">
          <div ng-messages="researcherForm.cantidadActDoc.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
      </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
        <md-input-container flex="16">
            <md-select ng-model="researcherEditing.deptoDependencia" placeholder="Depto-Dependencia">
                <md-option ng-repeat="deptoDependencia in parametrics['deptoDependencia']"  value="{{deptoDependencia.id}}">
                    {{ deptoDependencia.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="16">
            <md-select ng-model="researcherEditing.dedicacion" placeholder="Dedicación">
                <md-option ng-repeat="dedicacion in parametrics['dedicacion']"  value="{{dedicacion.id}}">
                    {{ dedicacion.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <h3>Otros</h3>
    <div layout="row"  ng-show=" !readOnlyMode">
      <md-input-container flex="6">
        <label>Sueldo</label>
        <input required="" sueldo="sueldo" ng-disabled="readOnlyMode" ng-model="researcherEditing.sueldo">
          <div ng-messages="researcherForm.sueldo.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
      </md-input-container>
      <md-input-container flex="6">
        <label>Porcentaje</label>
        <input required="" porcentaje="porcentaje" ng-disabled="readOnlyMode" ng-model="researcherEditing.porcentaje">
          <div ng-messages="researcherForm.porcentaje.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
      </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
      <md-input-container flex="6">
        <label>Observaciones</label>
        <input required="" observaciones="observaciones" ng-disabled="readOnlyMode" ng-model="researcherEditing.observaciones">
          <div ng-messages="researcherForm.observaciones.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
      </md-input-container>
    </div>

    <div layout="row"  ng-show=" !readOnlyMode">
      <md-input-container flex="6">
        <label>Objetivo</label>
        <input required="" objetivo="objetivo" ng-disabled="readOnlyMode" ng-model="researcherEditing.objectivo">
          <div ng-messages="researcherForm.objetivo.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
      </md-input-container>
      <md-input-container flex="16">
          <md-select ng-model="researcherEditing.disciplina" placeholder="Disciplina">
              <md-option ng-repeat="disciplina in parametrics['disciplina']"  value="{{disciplina.id}}">
                  {{ disciplina.name }}
              </md-option>
          </md-select>
      </md-input-container>
      <md-input-container flex="16">
          <md-select ng-model="researcherEditing.tipoDeInvestigacion" placeholder="Tipo de Investigacion">
              <md-option ng-repeat="tipoDeInvestigacion in parametrics['tipoDeInvestigacion']"  value="{{tipoDeInvestigacion.id}}">
                  {{ tipoDeInvestigacion.name }}
              </md-option>
          </md-select>
      </md-input-container>
    </div>


    <md-button class="md-raised md-primary" ng-show=" !readOnlyMode" ng-click="saveAcademicData()">
        Guardar
    </md-button>
    <label ng-show="academicDataSaved">Guardado!</label>
</div>
