<div ng-init="setup()">
  <h3>Formacion</h3>
    <div layout="row"  ng-show=" !readOnlyMode">
      <md-input-container flex="16">
        <label>Titulo</label>
        <input required="" titulo="titulo" ng-disabled="readOnlyMode" ng-model="researcherEditing.titulo">
          <div ng-messages="researcherForm.titulo.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
      <md-input-container flex="16">
        <label>Area de Formación</label>
        <input required="" areaDeFormacion="areaDeFormacion" ng-disabled="readOnlyMode" ng-model="researcherEditing.areaDeFormacion">
          <div ng-messages="researcherForm.areaDeFormacion.$error">
            <div ng-message="required">Campo requerido.</div>
          </div>
      </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
        <md-input-container flex="12">
            <label>Nivel</label>
            <md-select ng-model="researcherEditing.nivel">
                <md-option ng-repeat="nivel in parametrics['nivel']"  value="{{nivel.id}}">
                    {{ nivel.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <h3>Investigacion y Docencia</h3>
    <div layout="row"  ng-show=" !readOnlyMode">
        <md-input-container flex="16">
            <md-select ng-model="researcherEditing.tipoDeContratacion" placeholder="Tipo de Contratación">
                <md-option ng-repeat="tipoDeContratacion in parametrics['tipoDeContratacion']"  value="{{tipoDeContratacion.id}}">
                    {{ tipoDeContratacion.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="16">
            <md-select ng-model="researcherEditing.cargo" placeholder="Cargo">
                <md-option ng-repeat="cargo in parametrics['cargo']"  value="{{cargo.id}}">
                    {{ cargo.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="6">
          <label>Cantidad</label>
          <input required="" cantidad="cantidad" ng-disabled="readOnlyMode" ng-model="researcherEditing.cantidad">
            <div ng-messages="researcherForm.cantidad.$error">
              <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
    </div>
    <!--<div layout="row" ng-show=" !readOnlyMode">
        <md-input-container ng-show="formationEditing.formationCompleted=='false'">
            <md-select  ng-model="formationEditing.scholarshipType" placeholder="Tipo de Beca">
                <md-option ng-repeat="scholarshipType in parametrics['scholarshipType']" value="{{ scholarshipType.id }}">
                    {{ scholarshipType.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-show="formationEditing.formationCompleted=='false'">
            <md-select  ng-model="formationEditing.scholarshipName" placeholder="Beca">
                <md-option value="{{scholarshipName.id}}" ng-repeat="scholarshipName in parametrics['scholarshipName']">
                    {{ scholarshipName.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-show="parametrics['scholarshipName'][formationEditing.scholarshipName].name=='Otra'">
            <label>Especificar Otra</label>
            <input name="otra" ng-model="formationEditing.otherScholarship">
        </md-input-container>
    </div>-->
    <md-button class="md-raised md-primary" ng-show=" !readOnlyMode" ng-click="saveAcademicData()">
        Guardar
    </md-button>
    <md-button ng-show="formationEditingExisting" class="md-raised md-primary" ng-click="cancelEdition()">Cancelar</md-button>
    <label ng-show="formationSaved">Guardado!</label>
    <md-divider ng-show="researcherEditing.formations!=null && !readOnlyMode"></md-divider>
    <div ng-show="readOnlyMode">
    <label ng-show="(researcherEditing.formations|toArray).length == 0 ">No hay formaciones cargadas</label>
    </div>
    <div ng-show="researcherEditing.formations!=null">
        <div>
            <h4>
                <span>Formación de {{researcherEditing.name + " " + researcherEditing.surname}}</span>
            </h4>
        </div>
        <div>
            <table>
                <tr>
                    <th>Tipo de Formación</th>
                    <th>Grado de Titulación</th>
                    <th>Gran Area de Conocimiento</th>
                    <th>Carrera</th>
                    <th>Estado</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
                <tr ng-repeat="formation in researcherEditing.formations">
                    <td>{{formation.type}}</td>
                    <td>{{parametrics['academicDegree'][formation.academicDegree].name}}</td>
                    <td>{{parametrics['degreeArea'][formation.degreeArea].name}}</td>
                    <td>{{parametrics['degreeArea'][formation.degreeArea].careers[formation.career].name}}</td>
                    <td>
                        {{formation.formationCompleted == 'true' ? 'Terminada' : 'En curso'}}
                        <div ng-show="formation.formationCompleted == 'false'">
                            {{parametrics['scholarshipType'][formation.scholarshipType].name}} - {{ parametrics['scholarshipName'][formation.scholarshipName].name == 'Otra' ? formation.otherScholarship : parametrics['scholarshipName'][formation.scholarshipName].name}}
                        </div>
                    </td>
                    <td>{{formation.categorizationUniversity}}</td>
                    <td  ng-show=" !readOnlyMode">
                        <md-button  class="md-raised md-primary" ng-click="edit(formation)"">Editar</md-button>
                        <md-button class="md-raised md-primary" ng-click=" deleteFormation(formation)">Eliminar</md-button>
                    </td>
            </table>
        </div>
    </div>
</div>
