<div ng-init="setup()">
    <div layout="row"  ng-show=" !IsAView">
        <md-input-container>
            <label>Tipo de Cargo</label>
            <md-select ng-model="positionEditing.positionType" placeholder="Tipo de Cargo">
                <md-option ng-value="positionType.id" ng-repeat="positionType in positionTypes">{{ positionType.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Modalidad</label>
            <md-select ng-model="positionEditing.modality" placeholder="Modalidad">
                <md-option ng-value="modality.id" ng-repeat="modality in modalities">{{ modality.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Dedicación a I+D</label>
            <md-select ng-model="positionEditing.idDedication" placeholder="Dedicación a I+D">
                <md-option ng-value="idDedication.id" ng-repeat="idDedication in idDedications">{{ idDedication.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="12">
            <label>Licencia</label>
            <md-select ng-model="positionEditing.license" placeholder="Licencia">
                <md-option ng-repeat="license in licenses"  value="{{license.value}}">
                    {{ license.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="12" ng-show="positionEditing.license == 'true'">
            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                <div class="input-group">
                    <label>Inicio de Licencia</label>
                    <input class="form-control" name="licenseDate" ng-model="positionEditing.licenseDate"/>
                    <span class="input-group-addon" style="cursor: pointer">
                        <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
            </datepicker>
        </md-input-container>
        <md-input-container ng-show="positionEditing.license == 'true' && positionEditing.licenseDate!=null">
            <label>Resolución</label>
            <input name="resolution" ng-model="positionEditing.resolution">
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !IsAView">
        <md-input-container>
            <label>Secretaría/Departamento</label>
            <md-select ng-model="positionEditing.secretaryshipDepartment" ng-change="secretaryshipDepartmentChanged()" placeholder="Secretaría/Departamento">
                <md-option value="{{secretaryshipDepartment.id}}" ng-repeat="secretaryshipDepartment in  parametrics['secretaryshipDepartment']">
                    {{  secretaryshipDepartment.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Carrera</label>
            <md-select ng-model="positionEditing.career" ng-change="careerChanged()" placeholder="Carrera">
                <md-option value="{{career.id}}" ng-repeat="career in  parametrics['secretaryshipDepartment'][positionEditing.secretaryshipDepartment].careers">{{  career.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Asignatura</label>
            <md-select ng-model="positionEditing.subject" placeholder="Asignatura">
                <md-option value="{{subject.id}}" ng-repeat="subject in  parametrics['secretaryshipDepartment'][positionEditing.secretaryshipDepartment].careers[positionEditing.career].subjects">{{  subject.name }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !IsAView">
        <md-input-container>
            <label>Tipo de Contratación</label>
            <md-select ng-model="positionEditing.typeOfRecruitment" placeholder="Tipo de Contratación">
                <md-option value="{{typeOfRecruitment.id}}" ng-repeat="typeOfRecruitment in  parametrics['typeOfRecruitment']">
                    {{  typeOfRecruitment.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-show="positionEditing.typeOfRecruitment != null">
            <label>Resolución</label>
            <input name="resolution" ng-model="positionEditing.typeOfRecruitmentResolution">
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !IsAView">
        <md-input-container flex="12">
            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                <div class="input-group">
                    <label>Alta en la Institución</label>
                    <input class="form-control" name="highInTheInstitution" ng-model="positionEditing.highInTheInstitution"/>
                    <span class="input-group-addon" style="cursor: pointer">
                        <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
            </datepicker>
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !IsAView">
        <md-radio-group ng-model="positionEditing.isInvestigationPosition">
            <md-radio-button value=false class="md-primary">Docencia</md-radio-button>
            <md-radio-button value=true class="md-primary">Investigación</md-radio-button>
        </md-radio-group>
    </div>
    <md-button class="md-raised md-primary"  ng-show=" !IsAView" ng-disabled="positionSaved || positionEditing.secretaryshipDepartment==null || positionEditing.career==null || positionEditing.subject==null" ng-click="addNewPosition()">{{
        positionEditingExisting ? 'Actualizar cargo' : 'Agregar nuevo cargo'}}</md-button>
    <md-button ng-show="positionEditingExisting" class="md-raised md-primary" ng-click="cancelEdition()">Cancelar</md-button>
    <label ng-show="positionSaved">Guardado!</label>
    <md-divider ng-show="researcherEditing.positions!=null && !IsAView""></md-divider>
    <div ng-show="researcherEditing.positions!=null">
            <div>
                <h4>
                    <span>Cargos de {{researcherEditing.name + " " + researcherEditing.surname}}</span>
                </h4>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Tipo</th>
                        <th>Modalidad</th>
                        <th>Dedicación</th>
                        <th>Licencia</th>
                        <th>Secretaria/Departamento</th>
                        <th>Carrera</th>
                        <th>Asignatura</th>
                        <th>Fecha Alta</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="position in researcherEditing.positions">
                        <td>{{positionTypes[position.positionType].name}}</td>
                        <td>{{modalities[position.modality].name}}</td>
                        <td>{{idDedications[position.idDedication].name}}</td>
                        <td>{{position.license == 'true' ? 'Si' : 'No'}} <div ng-show="position.license == 'true'">{{position.licenseDate}} {{position.resolution}} </div></td>
                        <td>{{parametrics['secretaryshipDepartment'][position.secretaryshipDepartment].name}}</td>
                        <td>{{parametrics['secretaryshipDepartment'][position.secretaryshipDepartment].careers[position.career].name}}</td>
                        <td>{{parametrics['secretaryshipDepartment'][position.secretaryshipDepartment].careers[position.career].subjects[position.subject].name}}</td>
                        <td>{{position.highInTheInstitution}}</td>
                        <td></td>
                        <td ng-show=" !IsAView">
                            <md-button  class="md-raised md-primary"  ng-click="edit(position)"">Editar</md-button>
                            <md-button class="md-raised md-primary" ng-click=" deletePosition(position)">Eliminar</md-button>
                        </td>
                </table>

            </div>
        </div>
</div>