<div ng-init="setup()">
    <div flex-xs flex-gt-xs="50">
            <md-card  ng-show="researcherEditing.id!=null" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{researcherEditing.name}} {{researcherEditing.surname}}</span>
                        <span class="md-subhead">{{researcherEditing.dni}}</span>
                        <span class="md-subhead">{{researcherEditing.email}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-show="researcherEditing.profilePhoto && uploadProfilePhotoIndicator.completed" ng-src="{{researcherEditing.profilePhoto}}" class="md-card-image" alt="foto de  perfil">
                            <img ng-show="!researcherEditing.profilePhoto && uploadProfilePhotoIndicator.completed && researcherEditing.gender=='male'"  src="../assets/img/profile-male.png" class="md-card-image" alt="foto de  perfil">
                            <img ng-show="!researcherEditing.profilePhoto && uploadProfilePhotoIndicator.completed && researcherEditing.gender=='female'"  src="../assets/img/profile-female.png" class="md-card-image" alt="foto de  perfil">
                            <md-progress-circular ng-show="!uploadProfilePhotoIndicator.completed" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-show="researcherEditing.profilePhoto == null &&  !readOnlyMode"  ><div class="button" ngf-select="setProfilePhoto($file)">Seleccionar foto de perfil</div>
                    </md-button>
                    <md-button ng-show="researcherEditing.profilePhoto != null &&  !readOnlyMode" ng-disabled="readOnlyMode"><div class="button" ngf-select="setProfilePhoto($file)">Cambiar foto de perfil</div>
                    </md-button>
                </md-card-actions>
            </md-card>
    </div>
    <form name="researcherForm">
            <div layout="row">
                <md-input-container flex="20">
                <label>Apellido</label>
                <input required="" name="surname" ng-disabled="readOnlyMode" ng-model="researcherEditing.surname">
                <div ng-messages="researcherForm.surname.$error">
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
                <md-input-container flex="20">
                    <label>Nombre</label>
                    <input required="" name="name" ng-disabled="readOnlyMode" ng-model="researcherEditing.name">
                    <div ng-messages="researcherForm.name.$error">
                        <div ng-message="required">Campo requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="12">
                    <label>Género</label>
                    <md-select name="gender" ng-disabled="readOnlyMode" ng-model="researcherEditing.gender" required="">
                        <md-option value="female">Femenino</md-option>
                        <md-option value="male">Masculino</md-option>
                    </md-select>
                    <div ng-messages="researcherForm.gender.$error">
                        <div ng-message="required">Campo requerido.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="9">
                    <label>DNI</label>
                    <input required="" type="number" ng-disabled="readOnlyMode" ng-maxlength="8" name="dni" ng-model="researcherEditing.dni" ng-change="dniValidation(researcherEditing.dni)">
                    <div>
                        <div ng-show="!isNewDni" >Ya existe.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="12">
                    <datepicker date-format="dd/MM/yyyy" selector="form-control">
                        <div class="input-group">
                            <label>Fecha de Nacimiento</label>
                            <input class="form-control" name="birthday" ng-disabled="readOnlyMode" ng-model="researcherEditing.birthday"/>
                            <span class="input-group-addon" style="cursor: pointer">
                                <i class="fa fa-lg fa-calendar"></i>
                            </span>
                        </div>
                    </datepicker>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="12">
                    <label>Cuil/Cuit</label>
                    <input required="" ng-pattern="cuilRegExpr" ng-disabled="readOnlyMode" placeholder="##-########-#" name="cuilCuit" ng-model="researcherEditing.cuilCuit">
                    <div ng-messages="researcherForm.cuilCuit.$error">
                        <div ng-message="required">Campo requerido.</div>
                        <div ng-message="pattern">Formato esperado: ##-########-#.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="30">
                    <label>Email</label>
                    <input type="email" class="form-control" ng-disabled="readOnlyMode" placeholder="example@email.com" name="email" ng-model="researcherEditing.email" required>
                    <div ng-messages="researcherForm.email.$error">
                        <div ng-message="required">Campo requerido.</div>
                        <div ng-message="email">Mail invalido.</div>
                    </div>
                </md-input-container>
            </div>
        <div>
            <md-button ng-show=" !readOnlyMode" class="md-raised md-primary" ng-disabled="researcherForm.$invalid || dataLoading" ng-click="save()">Guardar</md-button>
            <label ng-show="researcherSaved">Guardado!</label>
        </div>
    </form>
</div>