<div ng-controller="dateCtrl" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="Date">
    <md-content layout-padding="">
                <div layout-gt-xs="row">
                    <div flex-gt-xs="">
                        <h4>Fecha de alta</h4>
                        <md-datepicker ng-model="alta" md-placeholder="Enter date"></md-datepicker>
                    </div>
                    <div flex-gt-xs="">
                        <h4>Fecha de baja</h4>
                        <md-datepicker ng-model="baja" md-placeholder="Enter date"></md-datepicker>
                    </div>
                </div>
    </md-content>
</div>