<div ng-init="setup()">
    <div layout="column" ng-cloak="" class="dataInputErrors">
        <md-content class="md-padding">
            <div layout="row">
                <md-input-container>
                    <md-select ng-model="researcherEditing.positionType" placeholder="Tipo de Cargo">
                        <md-option ng-value="positionType.id" ng-repeat="positionType in positionTypes">{{ positionType.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="researcherEditing.modality" placeholder="Modalidad">
                        <md-option ng-value="modality.id" ng-repeat="modality in modalities">{{ modality.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="researcherEditing.idDedication" placeholder="Decicación a I+D">
                        <md-option ng-value="idDedication.id" ng-repeat="idDedication in idDedications">{{ idDedication.name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-content>
    </div>
</div>


