<div ng-init="setup" ng-controller="parametrics.index">
    <h3>Paramétricas</h3>
    <div>
        <div>
            <md-content>
                <div layout="row">
                    <md-input-container>
                        <md-select ng-model="parametricTypeSelected" placeholder="Elije una Paramétrica">
                            <md-option ng-repeat="parametricType in  parametricTypes" value="{{parametricType.type}}">{{  parametricType.name }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div ng-show="parametricTypeSelected != null">
                    <md-toolbar layout="row" class="md-raised md-primary">
                        <div class="md-toolbar-tools">
                            <span class="titles">Listado de {{parametricTypes[parametricTypeSelected].name}}</span>
                        </div>
                    </md-toolbar>
                <!-- editInLine.html -->
                    <div ng-include src="'parametrics/editInLine.html'" ng-controller="parametrics.editInLine" ></div>
                </div>
               <!-- new.html -->
                <div ng-include src="'parametrics/new.html'" ng-controller="parametrics.new" ></div>
            </md-content>
        </div>
    </div>
</div>
