<div ng-init="setup" ng-controller="parametrics.index">
    <h3>Paramétricas</h3>
    <div>
        <div>
            <md-content>
                <div layout="row">
                    <md-input-container>
                        <md-select ng-model="parametricTypeSelected" ng-change="changeParametricsToEdit()" placeholder="Elije una Paramétrica">
                            <md-option ng-repeat="parametricType in  parametricTypes | toArray" value="{{parametricType.type}}">{{  parametricType.name }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" ng-show="parametricTypeSelected == 'career' || parametricTypeSelected == 'subject'">
                    <md-input-container>
                        <md-select ng-model="secretaryshipDepartmentSelected" ng-change="secretaryshipDepartmentChanged()" placeholder="Secretaria/Departamento">
                            <md-option ng-repeat="secretaryshipDepartment in  parametrics['secretaryshipDepartment'] | toArray" value="{{secretaryshipDepartment.id}}">{{  secretaryshipDepartment.name }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout="row" ng-show="parametricTypeSelected == 'subject' && secretaryshipDepartmentSelected!=null">
                    <md-input-container>
                        <md-select ng-model="careerSelected" ng-change="careerChanged()" placeholder="Carrera">
                            <md-option ng-repeat="career in  parametrics['secretaryshipDepartment'][secretaryshipDepartmentSelected].careers | toArray" value="{{career.id}}">
                                {{  career.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-divider ng-if="parametricTypeSelected"></md-divider>
                <div ng-show="parametricTypeSelected != null">
                    <h4 ng-show="parametricTypeSelected != 'career' && parametricTypeSelected != 'subject'">{{parametricTypes[parametricTypeSelected].listTitle}}</h4>
                    <h4 ng-show="parametricTypeSelected == 'career' && secretaryshipDepartmentSelected != null">{{parametricTypes[parametricTypeSelected].listTitle + ' en ' + parametrics['secretaryshipDepartment'][secretaryshipDepartmentSelected].name}}</h4>
                    <h4 ng-show="parametricTypeSelected == 'subject' && careerSelected != null">{{parametricTypes[parametricTypeSelected].listTitle + ' en ' + parametrics['secretaryshipDepartment'][secretaryshipDepartmentSelected].careers[careerSelected].name}}</h4>
                    <div ng-include src="'parametrics/editInLine.html'" ng-controller="parametrics.editInLine" ></div>
                </div>
                <md-divider ng-if="parametricTypeSelected"></md-divider>
                <div ng-include src="'parametrics/new.html'" ng-controller="parametrics.new" ></div>
            </md-content>
        </div>
    </div>
</div>
