<div>
    <form ng-show="parametricTypeSelected != null" name="parametricForm">
        <div>
            <h4>{{parametricTypes[parametricTypeSelected].newTitle}}</h4>
        </div>
        <md-input-container flex="20">
            <label>Nombre</label>
            <input required="" name="name" ng-change="parametricValidation(parametricTypes[parametricTypeSelected].type)" ng-model="parametricEditing.name">
            <div ng-messages="parametricForm.name.$error">
                <div ng-message="required">Campo requerido.</div>
            </div>
        </md-input-container>
        <md-button ng-click="save()" class="md-raised md-primary" ng-disabled="parametricForm.$invalid || !isNewParametric">Agregar</md-button>
        <label ng-show="parametricSaved">Guardado!</label>
        <label ng-show="!isNewParametric">Parametrica Existente.</label>
    </form>
</div>