<div ng-controller="convocatories.convocatoryData" ng-init="setup()">
    <form name="convocatoryForm">
        <div layout="row">
            <md-input-container flex="20">
                <label>Tipo de Convocatoria</label>
                <input required="" name="type" ng-disabled="readOnlyMode" ng-model="convocatoryEditing.type">
                <div ng-messages="researcherForm.type.$error">
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
            <md-input-container flex="20">
                <label>Año de Convocatoria</label>
                <input required="" type="number" name="year" ng-disabled="readOnlyMode" ng-model="convocatoryEditing.year">
                <div ng-messages="researcherForm.year.$error">
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-input-container flex="20">
                <label>Fecha de Inicio</label>
                <input type="date" required="" name="startDate" ng-disabled="readOnlyMode" ng-model="convocatoryEditing.startDate">
                <div ng-messages="researcherForm.startDate.$error">
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
            <md-input-container flex="20">
                <label>Fecha de Finalización</label>
                <input type="date" required="" name="endDate" ng-disabled="readOnlyMode" ng-model="convocatoryEditing.endDate">
                <div ng-messages="researcherForm.endDate.$error">
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-button ng-show=" !readOnlyMode" class="md-raised md-primary" ng-disabled="researcherForm.$invalid || dataLoading || convocatorySaved " ng-click="save()">Guardar</md-button>
            <label ng-show="convocatorySaved">Guardado!</label>
        </div>
    </form>
</div>