<div>
    <form name="convocatoryForm">
        <div layout="row">
            <md-input-container flex="20">
                <label>Apellido</label>
                <input required="" name="surname" ng-disabled="readOnlyMode" ng-model="researcherEditing.surname">
                <div ng-messages="researcherForm.surname.$error">
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-button ng-show=" !readOnlyMode" class="md-raised md-primary" ng-disabled="researcherForm.$invalid || dataLoading || researcherSaved " ng-click="save()">Guardar</md-button>
            <label ng-show="researcherSaved">Guardado!</label>
        </div>
        <div>
            <md-button ng-show="convocatorySaved" ng-click="addNewResearcher()">Agregar Otro</md-button>
        </div>
    </form>
</div>